[2016-01-14 20:51] vazquez opened #3 "HCB logo should link to home"
Right now, the HCB logo redirects to 2015.mozillafestival.org.

:cow: :star:

[2016-01-15 00:49] ScottDowne opened #5 "Update PDF for floor plan"
Right now floor plan links to spaces.

I think we talked about replacing it with a PDF, we should do that.

cc @edrushka

[2016-01-15 00:49] ScottDowne commented on #5
Oh, right now it links here: http://mozilla.github.io/mofo-schedule-app/hbc-schedule-app/#_spaces

[2016-01-15 01:26] edrushka commented on #5
@omnignorant is there a floorplan of the venue?

[2016-01-15 16:42] ScottDowne commented on #3
Fixed! http://mozilla.github.io/mofo-schedule-app/hcb-schedule-app/#_pathways

[2016-01-15 16:42] #3 closed, assigned to ScottDowne

[2016-01-15 16:46] ScottDowne opened #6 "What to do with pathways link in the header nav"
Right now there is a pathways link in the header.

It currently links to http://mozilla.github.io/mofo-schedule-app/hcb-schedule-app/#_pathways

This doesn't seem right, but not sure what we want to do with it.

@edrushka

[2016-01-15 18:41] omnignorant commented on #5
[Blue1647](https://docs.google.com/a/mozilla.com/drawings/d/1skJDBHTUw8ls2CORNMIsFIvuTBZb4BzivbUNe680e0g/edit?usp=sharing) and [Efebina's Cafe](https://docs.google.com/a/mozilla.com/drawings/d/1M301Er7nxZ6ZhD4xWisRO2N1F0KuAcQxMRAHLlddJfw/edit?usp=sharing)

[2016-01-15 18:42] omnignorant commented on #5
Note, they need to be saved out of GDrive as PDFs

[2016-01-15 18:43] ScottDowne commented on #5
@omnignorant Is it cool if we put both maps into one PDF?

[2016-01-15 18:44] omnignorant commented on #5
Super cool.

[2016-01-15 18:44] omnignorant commented on #5
ice cold.

[2016-01-15 18:45] ScottDowne commented on #6
@omnignorant thoughts?

[2016-01-15 18:47] vazquez commented on #5
[HiveChicagoBuzzFloorPlan.pdf](https://github.com/mozilla/mofo-schedule-app/files/92340/HiveChicagoBuzzFloorPlan.pdf)

[2016-01-15 18:47] vazquez commented on #5
freezing chill

[2016-01-15 18:58] omnignorant commented on #6
Yap, we have organizing themes we call "Moonshots", each with it's own Slack channel, and each session fits in one of them:
1. School-Hive: [#moonshot-school-hive](https://hivechi.slack.com/messages/moonshot-school-hive/)
2. Think Tank: [#moonshot-data](https://hivechi.slack.com/messages/moonshot-data/)
3. Parent-Engagement: [#moonshot-parents](https://hivechi.slack.com/messages/moonshot-parents/)

[2016-01-15 18:59] omnignorant commented on #6
Sorry, point being; I believe pathways were used to group sessions and if we could do the same using Moonshots as the organizing themes, then that would be :tada:

[2016-01-15 19:40] ScottDowne commented on #5
Updated: http://mozilla.github.io/mofo-schedule-app/hive-chicago-buzz/

However, I noticed hitting back on the floor plan, takes us to spaces.

Going to keep this open and figure out what is causing that.

[2016-01-15 19:48] edrushka commented on #5
When I click floor plan, it takes me to here: http://mozilla.github.io/mofo-schedule-app/hive-chicago-buzz/img/HiveChicagoBuzzFloorPlan.pdf

[2016-01-15 19:50] ScottDowne commented on #5
Which looks to be correct, but if you hit back, it doesn't go back to where you where, it goes back to mozfest floor plans, which is not what we intended.

Fixed that, should be working now.

[2016-01-15 19:50] #5 closed, assigned to nobody

[2016-01-15 20:08] ScottDowne commented on #6
@omnignorant Just to double check I got this.

Each sessions has one moonshot, but each moonshot has one or more sessions?

[2016-01-15 20:16] omnignorant commented on #6
Yes, in this case, Moonshots are mutually exclusive buckets (categories). However, in principle, it would be nice if they were more like pathways (or tags) and had intersection points, but that's for the future.

Sent from my iPhone

[2016-01-15 20:52] ScottDowne commented on #6
Updated pathways to moonshots.

One note, internally, it's still called pathways.

So for now, pathways is the same as moonshots.

http://mozilla.github.io/mofo-schedule-app/hive-chicago-buzz/#_pathways

Currently it only shows the moonshots that have a session attached, if a moonshot currently has 0 sessions, it's not listed.

Currently the code allows a moonshot to have multiple sessions.

[2016-01-15 21:22] ScottDowne commented on #6
Also, the moonshots lack a description and I didn't add any links to them yet.

Not sure what that would look like.

[2016-01-15 21:38] edrushka commented on #6
I can add descriptions taken from here: http://hivechicago.org/moonshots/

[2016-01-15 21:45] edrushka opened #7 "Scheduleblock is still mapping to MozFest"
These blocks should map to HCB times, shown here: https://docs.google.com/spreadsheets/d/14q_MfxaUVDZ19YfNWf6fGMkHj8P7q7u0zM9tBX3XHFU/edit#gid=2059255537

[2016-01-15 21:46] edrushka opened #8 "Spaces are still mapping to MozFest"
Spaces should map to HCB spaces, shown here: https://docs.google.com/spreadsheets/d/14q_MfxaUVDZ19YfNWf6fGMkHj8P7q7u0zM9tBX3XHFU/edit#gid=2063216745

Please make sure it says Blue 1647 or Efebinas, and not just the number of the space, since two are actually separate buildings across the street from each other.

[2016-01-15 23:06] mmmavis opened #9 "Turn Google Spreadsheet exported data into the correct format"
For the MozFest app, [the Python Loader script](https://github.com/mozilla/mozfest-schedule-loader) does not only fetch data from the Google Spreadsheet but **also** consolidate and format the data in the way that the app consumes.

Since we are skipping the loader script for the Hive Chicago Buzz app, we need to make sure the each session entry in the json blob have the 2 properties `facilitator_

[2016-01-16 00:03] mmmavis commented on #9
@ScottDowne
Actually, this doesn't only apply to the facilitator properties. If you want to minimize the changes you make to `schedule.js` make sure the json blob is in this [MozFest Session format](https://github.com/mozilla/mozfest-schedule-app/blob/gh-pages/sessions.json) before you feed the data into the app.

[2016-01-18 16:38] omnignorant opened #10 "Meta data in hive chicago buzz app still refers to MozFest"
Hey all, I'm gonna make this change myself... it's a minor commit. I'll make it in a new branch and submit a PR just to make sure I'm not breaking any protocols.

[2016-01-18 16:44] omnignorant commented on #10
so, never tried to do a PR from branch to gh-pages (just to master) and realizing now that I can't make a PR to gh-pages. So, I'll leave things as-is. You can see my commit (2 lines) in the meta-data branch I created and delete that branch when those changes are made in master.

[2016-01-18 16:46] ScottDowne commented on #8
@edrushka

Not following, I think.

Only thing I can see about spaces is the location field in the session.json, which we can put whatever we want in there.

I made this as an example: http://mozilla.github.io/mofo-schedule-app/hive-chicago-buzz/#_session-100005

Is that the sort of thing you needed changed?

[2016-01-18 16:50] ScottDowne commented on #10
There is an automated step that builds gh-pages when master gets a commit.

So, you should be able to merge to master and gh-pages gets updated shortly after.

Actually, changing gh-pages directly "works" but it becomes out of sync with master and the changes to gh-pages then get reverted next time someone updates master.

[2016-01-18 16:55] ScottDowne commented on #10
And make sure the paths to the files your changing is `/public/hive-chicago-buzz/` and not `/hive-chicago-buzz/` key is the `public/` bit.

The automated step takes the contents of `public/` and drops that into gh-pages as static files.

[2016-01-18 16:56] omnignorant commented on #10
yap! got it. killing the branch and trying again.

[2016-01-18 16:59] #10 closed, assigned to ScottDowne

[2016-01-18 17:05] edrushka commented on #8
Yah, that looks good. (Before, the spaces had MozFest names, not HCB. Sorry I wasn't more clear!)

[2016-01-18 18:03] ScottDowne opened #12 "Make time blocks and days dynamic"
Right now days are an object in the schedule.js file, and the time blocks are in the markup.

This is fine for short term, but to make this something we use more often, this is going to need to move to a data.json file of some sort, similar to sessions.json.

[2016-01-18 18:07] ScottDowne commented on #7
Updated.

One thing to note, in order to link a session to one of these times, you need to give it a scheduleblock in the json.

Example: `"scheduleblock": "friday-keynotes"`

I filled up the session.json with one for each as an example.

And this is a list of possible values to put in "scheduleblock":

friday-doors-open
friday-keynotes
friday-networking

saturday-opening
saturday-skillshare-1
sat

[2016-01-18 18:07] #7 closed, assigned to ScottDowne

[2016-01-18 18:08] ScottDowne commented on #8
Sounds like we're good for now, closing.

[2016-01-18 18:08] #8 closed, assigned to ScottDowne

[2016-01-18 18:10] ScottDowne commented on #6
I think I'm just going to close this.

We all know we need to fill up the json with real data, don't need a separate issue to track adding descriptions in moonshots data.

[2016-01-18 18:10] #6 closed, assigned to nobody

[2016-01-18 18:14] ScottDowne commented on #9
Hm, not sure I'm following.

Could we just manually fill facilitators and facilitator_array data in session.json?

[2016-01-19 00:45] mmmavis commented on #9
Either way works. It's just if we decide to manually format every entry in `sessions.json` it will be lots of tedious and repetitive work.

[2016-01-19 00:46] edrushka commented on #9
There are 39 individual sessions. I can do it manually if need be, Scott.

[2016-01-19 01:12] ScottDowne commented on #9
We could also each do half :D

[2016-01-19 02:29] mmmavis commented on #9
@edrushka @ScottDowne

I just submitted a [PR](https://github.com/mozilla/mofo-schedule-app/pull/16) to demonstrate what I meant by "formatting the json blob in MozFest Session format". Hopefully this can help take some of your confusion away @ScottDowne :stuck_out_tongue:  Also feel free to not merge it (it works locally on my machine but it's currently failing Travis test which I'm not sure why

[2016-01-19 18:00] #9 closed, assigned to ScottDowne

[2016-01-19 20:28] edrushka opened #17 "Re-import data from Exciting Spreadsheet"
The event data is now complete. I have:
- added an additional column (L) with the name of the Slack channel for each session
- added a day for each session
- added a ScheduleBlock for each session
- edited the location of each session to make it more user-friendly
- filled in any missing fields

Please re-import using @mmmavis's script. https://docs.google.com/spreadsheets/d/1JZ4utPlZZceJFXg57Jqg3

[2016-01-19 20:29] mmmavis commented on #17
already did it lol :wink:

[2016-01-19 20:30] mmmavis commented on #17
data imported in https://github.com/mozilla/mofo-schedule-app/commit/2a0c857e81ad06a9106de000a255e16f10fc02d8

[2016-01-19 20:31] edrushka commented on #17
:clap::clap::clap: :smile:

[2016-01-19 20:31] #17 closed, assigned to mmmavis

[2016-01-19 21:31] edrushka opened #18 "Display Format for each session"
The [Exciting Spreadsheet](https://docs.google.com/spreadsheets/d/1JZ4utPlZZceJFXg57Jqg3CjGBvUf4I5X3j6YUj0j1PY/edit#gid=595343717) has a column for Session Format. Can we add this data to each session?
![format](https://cloud.githubusercontent.com/assets/4515662/12432559/d9648734-beb0-11e5-890c-3482ec70d9c9.png)

[2016-01-19 21:43] edrushka opened #19 "Display Slack channel for each session [nice-to-have]"
There's a column in the [Exciting Spreadsheet](https://docs.google.com/spreadsheets/d/1JZ4utPlZZceJFXg57Jqg3CjGBvUf4I5X3j6YUj0j1PY/edit#gid=595343717) for Slack channels for each session. A nice-to-have is to add this to the session description.

Two challenges that might block this:
- we don't have an icon
- to be useful, I'd these really need to be linked to the actual channel
  ![slack](https:/

[2016-01-19 22:02] edrushka opened #20 "Clicking the space should link to floor map."
Currently, when you click on the Space icon or text in the session description from http://mozilla.github.io/mofo-schedule-app/#_show-saturday, it seems to link to another random session. It should link here, instead: http://mozilla.github.io/mofo-schedule-app/img/HiveChicagoBuzzFloorPlan.pdf

[2016-01-19 22:06] edrushka opened #21 "Clicking on the moonshot should link to moonshots page"
Currently when you click on the Moonshot icon on text for an individual session from http://mozilla.github.io/mofo-schedule-app/#_show-saturday, it links to the more detailed description of that session. Instead, it should link to the moonshots page, ideally right to the specific moonshot text: http://mozilla.github.io/mofo-schedule-app/#_moonshots

[2016-01-19 22:57] edrushka commented on #21
Wait, this actually makes sense on mobile. If you click anywhere on the session, it takes you to the more detailed description of that session. From there, if you click on the moonshot, it takes to you the moonshots page.

When I filed this ticket I was testing on desktop so it was very easy for me to get my cursor directly on the moonshots link.

Closing, as the way it is now actually works bette

[2016-01-19 22:57] #21 closed, assigned to ScottDowne

[2016-01-19 22:58] edrushka commented on #20
Similar to #21, this actually makes perfect sense on mobile. Closing.

[2016-01-19 22:58] #20 closed, assigned to ScottDowne

[2016-01-19 23:56] mmmavis commented on #19
@edrushka can a session have more than one Slack channel? And could you explain what you meant by linking it to the actual channel (is it just a hyperlink to an external page?)

[2016-01-20 00:25] edrushka commented on #19
No, only 1 channel for each session.
and Yes, hyperlink to external page.

[2016-01-20 01:08] edrushka commented on #19
https://hivechi.slack.com/messages/moonshot-data/
https://hivechi.slack.com/messages/moonshot-hive-school/
https://hivechi.slack.com/messages/moonshot-onramps/
https://hivechi.slack.com/messages/moonshot-parents/
https://hivechi.slack.com/messages/moonshot-transpo/
https://hivechi.slack.com/messages/moonshot-youthvoice/

[2016-01-20 18:21] ScottDowne commented on #19
Putting the link to the moonshot slack channel right in the session description seems confusing to me.

That slack channel link is for the moonshot in general, and not for that session itself, but that might be ok.

[2016-01-20 18:27] ScottDowne commented on #19
I feel like the best solution given the time and system we currently have is to put the slack channel link in here: http://mozilla.github.io/mofo-schedule-app/#_moonshot-school-hive

[2016-01-20 18:28] ScottDowne commented on #19
That above link is linked from both the moonshot description AND the session description, and it's a generic context, and not specific to the session itself.

[2016-01-20 19:07] ScottDowne commented on #18
Done.

One note, the app automatically put the day in front too, so it looks like this: "Saturday, 90 min Skillshare"

I thought that was helpful too, so I left it.

[2016-01-20 19:07] #18 closed, assigned to ScottDowne

[2016-01-21 16:52] ScottDowne opened #22 "figure out how to store/fork/maintain projects"
Right now I made a public directory, which is what we ship to gh-pages.

This public repo would store multiple projects, that would share assets.

The goal being that another server could link to these.

Example:
1. Source is stored in one repo under public/hivechicagobuzz/ and public/mozfest-2016/ in master branch
2. On commit, Travis takes public and builds it into gh-pages
3. Both schedule.hive

[2016-01-21 17:03] ScottDowne commented on #22
To get the ball rolling, here's an idea.

Instead of Travis building public into one gh-page, it would be told to build each app on a new repo that's a dedicated gh-pages repo. One for each app, but the central source repo would still be the single source.

[2016-01-21 17:03] edrushka commented on #19
I think this is a good solution @ScottDowne. Can I do that or do you need to?

[2016-01-21 17:37] edrushka opened #23 "Confirm that search works"
In the ALL SESSIONS tab, is the search feature working correctly? It seems like we can't press 'enter' to initiate the search (both on mobile & desktop).

Can you pls confirm it's ok?

@ScottDowne @mmmavis

[2016-01-21 18:18] ScottDowne commented on #23
It was broken. It is now fixed.

[2016-01-21 18:18] #23 closed, assigned to nobody

[2016-01-21 18:18] ScottDowne commented on #23
This was the fix: https://github.com/mozilla/mofo-schedule-app/commit/58bb1dd496d7c43639ceabbc2aa65900393009fc

[2016-01-21 19:28] ScottDowne commented on #19
Fixed https://github.com/mozilla/mofo-schedule-app/commit/1b21e9734dde97b180da3fa5b456772d05691c87

[2016-01-21 19:28] #19 closed, assigned to ScottDowne

[2016-01-21 19:30] ScottDowne opened #24 "refreshing moonshot view page displays an empty page"
STR:
1. go here: http://schedule.hivechicagobuzz.org/#_moonshots
2. click on one of the moonshots, I used the top one in the list "Onramps"
3. hit refresh

expected: the onramps moonshot page
actual: nothing

[2016-01-21 19:44] ScottDowne opened #25 "data format the app consumes need to be standard or less opinionated"
We have quite a bit of data that we deal with, and a lot of it is going to have different terms for very similar features.

Example, pathways in mozfest are moonshots in hive chicago buzz are basically the same thing.

It's causing a few conflicts in the code and a few broken links.

We need a better solution. Either the app needs to be rigid in the way the data is given, and the data needs to be

[2016-01-21 19:47] ScottDowne commented on #24
Fixed in https://github.com/mozilla/mofo-schedule-app/commit/7ae7dd5ab4ffc26663242559d89307093a3102fe

[2016-01-21 19:47] #24 closed, assigned to ScottDowne

[2016-01-22 04:12] edrushka opened #31 "Need a comma between facilitators [not critical]"
Sessions with multiple facilitators need a space after comma between facilitator names.

Right now they read: Scott Downe,Erika Drushka,Mavis Ou
Should read: Scott Downe, Erika Drushka, Mavis Ou

[2016-01-22 04:14] edrushka opened #32 "Confirm that "Hide All Sessions" works [not critical]"
Got a report that "Hide All Sessions" doesn't work (although it works for me on Firefox). Can you confirm on other browsers (Safari) and mobile?

[2016-01-22 17:02] ScottDowne commented on #32
Tried on older browsers, on older os's and on mobile, seems to work.

Closing this without more info, I think.

[2016-01-22 17:02] #32 closed, assigned to nobody

[2016-01-22 21:12] ScottDowne commented on #31
Fixed

[2016-01-22 21:12] #31 closed, assigned to nobody

[2016-03-21 17:42] edrushka opened #34 "Strip event-specific terminology and code from Schedule App"
Move event-specific bits
- branding
- help link
- turn on/off "spaces"
- highlight colour

to a settings/theme folder where we can adjust them for each event without creating an entirely new instance.

[2016-03-21 17:52] edrushka opened #35 "Enable non-devs to edit and push changes right to last minute"
There are some notes in the etherpad [lines 130-140](https://public.etherpad-mozilla.org/p/schedule_app) outlining challenges and possible solutions. @mmmavis, some of these ideas have been strikethroughed on the pad, so I'll let you define the best solution(s) for allowing non-devs to push changes to the last minute.
#34 is higher priority than this ticket (although both are defined as MVP)

[2016-03-30 17:19] vazquez opened #36 "Inspire and Ideate"
From: https://github.com/MozillaFoundation/plan/issues/738

[2016-03-30 18:33] vazquez commented on #36
## Ideation

The following sketches are meant to inspire new ideas for our Schedule App. Tech challenges and other considerations have not been factored into these ideations.

## Engagement Dashboard and Peer Connections

![screen shot 2016-03-30 at 1 52 20 pm](https://cloud.githubusercontent.com/assets/1119821/14151967/a959aec4-f67e-11e5-9b40-3a4f04a16e4a.png)

## Allergies and Easy Survey

![scr

[2016-03-30 20:21] mmmavis opened #37 "Create systems diagrams of the 2015 MozFest app"
Part 1: system diagram of the existing 2015 MozFest app

Part 2:
from @xmatthewx

[2016-03-30 23:42] simonwex commented on #36
I've got a couple things I've been thinking about:

### Collaborative Session Boards

"Webmaker App functionality for Sessions"

#### `During Event`
- Add photos of physical assets (post-its, drawings, etc) in the context of the session
- Add notes directly
- Link to other session attendees' captures to create a story-telling map

#### `After Event`
- Explore notes, maps by session
- Comment on as

[2016-03-31 00:31] mmmavis commented on #37
System diagram of the 2015 MozFest App can be found here:
https://docs.google.com/presentation/d/13zNzQLXFZzpkQaDz2Sgvr60dZUkEJLYrMZOjVmg0FZQ/edit#slide=id.g1284108e96_4_37

![system diagram of mofo convening app 1](https://cloud.githubusercontent.com/assets/2896608/14193378/1eafbddc-f759-11e5-8f27-ced03248a6ef.png)

let me know if this makes sense / need edits :grin:

/cc @xmatthewx @vazquez @sim

[2016-04-04 15:12] xmatthewx commented on #37
Thanks @mmmavis. Looks good. I just took a peek at your suggestion for revised architecture in the doc. Also looks good and seems reasonable.

I wonder if there's alternate approach we should consider alongside your outline. Each event could have their own repo for data, configs, styles, assets and load the core app as a dependency. That would allow other organizations to build their own event wra

[2016-04-04 17:53] mmmavis commented on #37
hey @xmatthewx

I actually like your idea better! I'll create a 3rd diagram based on your suggestion. Maybe the core app will have default styles, assets, etc and can be overwritten by custom configs.

[2016-04-04 18:36] vazquez commented on #36
I took these preliminary ideas to the Design team for our weekly Critique. Out of these 8 ideas, 4 surfaced as ideas strong enough to require further investigation. Now we turn into focusing on the ideas and the experience. How would this feature be used and experienced?

---

### Polls and Questions

| Attendee | Speaker |
| --- | --- |
| Attendee is eager to participate and attend conference. |

[2016-04-04 19:27] xmatthewx commented on #36
Nice stuff @vazquez! I'll review it soon. As discussed, you might add the job a person is trying to get done, and how they currently do that job. ex: A facilitator might gather email addresses or share their twitter handle, with a promise to send notes and photos later.

I started a doc to capture the moments that each person (attendee, facilitator, etc) might want to share something (text, photo,

[2016-04-06 00:24] mmmavis commented on #37
Had a chat with @ScottDowne earlier and we thought having configs live with the core app would be a good starting point. Once that's working, we will re-evaluate and decide whether or not we should separate config from the core app (e.g., to have MozFest config live on its own separate repo etc)

We are thinking about turning the currently jQuery-built Schedule app into a React app, using [Pomax's

[2016-04-06 20:22] xmatthewx commented on #37
We discussed this earlier today on our stand. We'd like to minimize the amount of engineering required to clean this up for the next event. A full refactor should wait until we have new features that require it. For now, they won't change.

[2016-04-07 18:12] mmmavis commented on #37
![system diagram of mofo schedule app 1](https://cloud.githubusercontent.com/assets/2896608/14360980/a9258e8e-fcad-11e5-9a6a-a641d6a70b07.png)

I updated the diagram again!

The [index.html of the current app](https://github.com/mozilla/mozfest-schedule-app/blob/gh-pages/index.html) includes templates and hardcoded timeslots(so that the script can fill sessions data into the corresponding template

[2016-04-07 18:42] ScottDowne commented on #37
I think we should find small chunks from Mavis' plan that we can do now, that ultimately help that end goal, without being a complete rewrite, and without waiting for new features. It means when we're ready to add new features, it'll be much much easier, instead of trying to do it all at once. Thoughts?

[2016-04-07 20:20] xmatthewx commented on #37
This is great. Good separation of concerns. The index shift makes sense. Agreed @ScottDowne –  there's no need to wait for new features or do a complete rewrite. Just set the stage to make things easier to use and test new ideas when they're ready.

This looks ready for issues. It might be good to start with a meta planning ticket to set priority or order. But, only if that sounds useful to you.

[2016-04-11 15:01] vazquez commented on #36
We have decided to concentrate on a couple of ideas more concretely.

### Discussions

When a convening is in progress, people usually have questions, want to engage in discussion, or would like to add to the conversation already taking place.
- Discussions will allow anyone to ask a question, and also allow anyone to answer.
- Unlike Mattermost, Discussions will be a threaded experience.
- People

[2016-04-11 18:47] xmatthewx commented on #36
Great summary @vazquez. I would adjust this slightly, without changing the spirit of the two directions you've identified.
1. **Event alerts** - The app might help keep the event on track thru alerts or other centralized communication. We won't explore this direction yet. It would require some UX design, but not ideation.
2. **Discussions** - connect individuals with others thru questions, comment

[2016-04-11 18:51] xmatthewx commented on #36
Also, props to @vazquez for the diligence in the [spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/1qbYYt-mLpnfkT-d_oj2tGR3nXrbHnAstd9lSYmPIlY8/edit?usp=sharing). Worth a look to see how we identified promising options. It's an extensive list of _who_ might share _what_ and _when_. We looked for patterns that emerged here to identify promising types of intervention.

<img width="7

[2016-04-11 20:40] xmatthewx commented on #36
Editing comment above to mention why we aren't pursuing anything that would require profiles at this time.

[2017-02-10 23:19] hannahkane opened #38 "Set up Hive Chicago Buzz 2017 app"
From @samueledyson: By early March we would like to update the content within the version of the schedule app that we used last year, http://schedule.hivechicagobuzz.org/. Ideally last year's content could be archived to http://schedule.hivechicagobuzz2016.org/.

@ScottDowne and @mmmavis - can you please advise on the best way to meet the requirement of maintaining last year's content in an archiv

[2017-02-10 23:21] hannahkane opened #39 "Content for 2017"
## March 17
Bridgeport Art Center: Sculpture Garden

**4:00 pm**
Doors Open, Registration, & Science Fair
light refreshments, mix and mingle

**5:30 pm**
RFP Share Out
Sam Dyson, Director, Hive Chicago
Brenda Hernandez, Portfolio Strategist, Hive Chicago

**6:00 pm**
Guest Speakers

**6:30 pm**
Network with Hive Chicago Members

## March 18
Bridgeport Art Center: Skyline Loft

**8:00 am**
Doors Op

[2017-02-10 23:22] hannahkane commented on #39
cc @annmarie123 to update this ticket with more session info as it's finalized

[2017-02-14 23:22] mmmavis commented on #38
### Regarding archiving 2016 schedule

We probably don't have time to get the archived 2016 app live before mid-March. Let's create a `hive-buzz-2016` branch and put what's currently on `gh-pages` there so we don't lose the work/data. When we have the capacity to tackle the archiving work we can use the `hive-buzz-2016` branch.

### Get 2016 content off http://schedule.hivechicagobuzz.org/

@hanna

[2017-02-14 23:24] mmmavis commented on #38
And I just renamed this repo from `mofo-schedule-app` to `hive-chicago-buzz`.

[2017-02-14 23:37] hannahkane commented on #38
Thanks, @mmmavis. This sounds like a good plan.

@annmarie123 - can we go ahead and publish the content you have so far (detailed in #39) so that that's what people would see when the go to the site now, or would you prefer we wait until you have all of the content finalized?

[2017-02-14 23:52] annmarie123 commented on #38
Go ahead and publish the content I sent. Thank you @hannahkane!

[2017-02-15 01:07] mmmavis commented on #12
no longer applies. won't fix. 😉

[2017-02-15 01:07] #12 closed, assigned to nobody

[2017-02-15 01:08] mmmavis commented on #22
no longer applies. won't fix. 😉

[2017-02-15 01:08] #22 closed, assigned to nobody

[2017-02-15 01:10] mmmavis commented on #25
This was addressed and fixed: https://github.com/mozilla/mozfest-event-app/blob/gh-pages/docs/CONFIGS.md

[2017-02-15 01:10] #25 closed, assigned to nobody

[2017-02-15 01:10] mmmavis commented on #34
no longer applies. won't fix. 😉

[2017-02-15 01:10] #34 closed, assigned to mmmavis

[2017-02-15 01:11] mmmavis commented on #35
Closing this ticket as this was for 2016 app.

[2017-02-15 01:11] #35 closed, assigned to mmmavis

[2017-02-15 02:09] mmmavis commented on #38
kk I'll aim to have some basic stuff set up tomorrow.

[2017-02-15 17:50] #38 closed, assigned to nobody

[2017-02-15 18:06] mmmavis commented on #38
Got something working last night: http://mozilla.github.io/hive-chicago-buzz/

I'm working with DevOps to sort out some deployment problems as http://schedule.hivechicagobuzz.org/ doesn't reflect the changes I made still.

There are still things I need to refine and think about, especially about the updating last minute session data changes.

[2017-02-15 18:11] hannahkane commented on #38
Thanks, @mmmavis. Please let me know when I can go in and update a json file to reflect the current schedule.

[2017-02-15 18:14] mmmavis commented on #36
I have to close this awesome thread ✨  since it no longer applies to what we do in this repo (Hive Chicago Buzz schedule).

[2017-02-15 18:14] #36 closed, assigned to vazquez

[2017-02-15 18:16] mmmavis commented on #37
I have to close this thread since it no longer applies to what we do in this repo (Hive Chicago Buzz schedule).

[2017-02-15 18:16] #37 closed, assigned to mmmavis

[2017-02-15 18:22] mmmavis opened #41 "Add CNAME file back"
So things we show up correctly on http://schedule.hivechicagobuzz.org/#_show-friday

[2017-02-15 18:28] #41 closed, assigned to mmmavis

[2017-02-15 18:32] mmmavis commented on #39
The above session info is up on http://schedule.hivechicagobuzz.org now.

[2017-02-15 18:45] mmmavis opened #43 "Figure out how non-dev staff can make session data changes"
Unlike MozFest we don't have a pipeline system set up to automate the deployment flow.

**For devs to update this app, they**

1. manually update [session data](https://github.com/mozilla/hive-chicago-buzz/blob/master/data/sessions.json)
2. update `master` branch
3. run `npm run stage https://github.com/mozilla/hive-chicago-buzz.git` command to automatically delete and recreate `gh-pages` branch (

[2017-02-15 18:51] mmmavis commented on #38
@hannahkane for now let's file new ticket for new session info changes. I need to find [a solution for non-devs to update the app](https://github.com/mozilla/hive-chicago-buzz/issues/43).

[2017-02-15 18:51] mmmavis opened #44 "Update README"

[2017-02-15 18:54] hannahkane commented on #38
@mmmavis - thanks for your speedy work on this! I think this is fine, but I'm going to comment on the new ticket you just opened.

In the meantime, do you think we're okay to close this ticket?

[2017-02-15 18:56] hannahkane commented on #43
@annmarie123 - can you describe the process for finalizing the program? Once the sessions are decided later this month, do you expect to have any changes after the fact?

[2017-02-15 19:00] mmmavis commented on #38
@hannahkane

heh this has already been closed. 😉

[2017-02-15 19:08] hannahkane commented on #38
lol

[2017-02-15 19:46] vazquez commented on #36
This was a nice issue wasn't it? :)

[2017-02-15 19:53] xmatthewx commented on #36
holy bananas. 🍌 🍌 🍌 this was awesome. 🚀

@vazquez – nice to see you! did you ever see the etherpad analyzer by me and @mmmavis? it was made possible by this thread and the documentation linked within the schedule app for London all hands. Load and reload if Heroku spins up slowly. http://allhands-etherpads-analyzer.herokuapp.com/

[2017-02-15 20:00] hannahkane commented on #36
Ricarrrrrrrdooooooooo! Just saying hey and we miss you.

[2017-02-15 20:14] mmmavis commented on #36
Heyyy Ricardo, I was gonna tag you @vazquez in https://github.com/mozilla/hive-chicago-buzz/issues/36#issuecomment-280091893 but not sure if I should 🐛 you 😂.

[2017-02-16 13:15] vazquez commented on #36
Hahaha you MoFos are the best! 😄

@hannahkane - Miss you too!
@xmatthewx - Whoa! I love the Overview page! It extracts themes, but also aspirations and goals. That has the power to be very insightful.

[2017-02-16 13:42] chadsansing commented on #36
A @vazquez sighting!

[2017-02-27 23:45] annmarie123 commented on #39
Here is the[ doc with the finalized schedule information](https://docs.google.com/spreadsheets/d/1DqMxKeyxSlFJqj42OWrDXij8-L59vY08-iLeCZ_Cdpg/edit?usp=sharing) for Saturday March 18, sessions. The information is under the schedule tab and we only need the information from column A through F to be on the scheduling app (i.e. no need for equipment supplies or notes). Thank you!

[2017-02-27 23:48] mmmavis commented on #39
Cool, I'll try to have the updated schedule up by EOD tomorrow.

[2017-02-28 03:51] mmmavis commented on #39
@annmarie123 @hannahkane I don't see [sessions at the very top of this ticket](https://github.com/mozilla/hive-chicago-buzz/issues/39#issue-206931571) listed on the spreadsheet. Are we keeping those still?

[2017-02-28 18:43] mmmavis commented on #39
@annmarie123 @hannahkane this is the temporary staging link: http://mmmavis.github.io/hive-chicago-buzz/ If everything looks good I'll push changes to http://schedule.hivechicagobuzz.org

[2017-02-28 18:58] annmarie123 commented on #39
@mmmavis Thank you! That looks great!

Slight changes that need to be made:
- The session "How to be a Skillful Ally" (Sat 9:45) has been canceled
- For the click through, can we have the names linked to presenter twitter handles (e.g. twitter.com/@bobbysue) - column F of[ this tab](https://docs.google.com/spreadsheets/d/1DqMxKeyxSlFJqj42OWrDXij8-L59vY08-iLeCZ_Cdpg/edit?usp=sharing)
- Is it possib

[2017-02-28 19:39] mmmavis commented on #39
Hey @annmarie123 😃

The 2 items mentioned above have been updated on staging: http://mmmavis.github.io/hive-chicago-buzz

---

Yup this is possible but it will take some time to update as some manual crosschecks & updates are needed. If you are okay this - let's push the finalized schedule out first and I'll have facilitator's Twitter handles up later this week.

---

Yup it's possible to do that.

[2017-02-28 19:51] annmarie123 commented on #39
@mmmavis YEAH!!! I'm having my team look over the git schedule you created now to triple check me, but it looks perfect, I think. I will have an answer in the next hour whether there are any other slight changes to make, but I know my team is fine to wait for the twitter handles and notes to be added later this week and just push what you have now to  http://schedule.hivechicagobuzz.org.

Thanks a

[2017-02-28 20:39] annmarie123 commented on #39
@mmmavis
Suggested final changes from my team
**Fri**

- Change “Guest Speakers” to “Remarks”
- Both Remarks and RFP should be in the 5:30-6pm slot
- Move Hive Networking to 6:00pm

**SAT**
945 am - Change "Grant Writing 101" to "RFP 101"
11am lunch, instead of 12pm

Thank you!

[2017-02-28 21:59] mmmavis commented on #39
@annmarie123 cool. Changes are up on staging: http://mmmavis.github.io/hive-chicago-buzz

[2017-02-28 22:04] annmarie123 commented on #39
@mmmavis If you don't mind deleting the Network with Hive Members at 6:30 on Friday from the schedule, then we will be all set and you can push it to schedule.hivechicagobuzz.org. Thank you!

[2017-02-28 22:12] mmmavis commented on #39
Yay done! http://schedule.hivechicagobuzz.org ✨

@annmarie123 I'll let you know when Twitter handles and notes URLs are there for QA. 👍

[2017-02-28 22:12] #39 closed, assigned to nobody

[2017-02-28 22:14] mmmavis opened #46 "Add facilitators' Twitter handles"
https://github.com/mozilla/hive-chicago-buzz/issues/39#issuecomment-283130082

Add facilitators' Twitter handles.

[2017-02-28 22:15] mmmavis opened #47 "Add link to Etherpad"
https://github.com/mozilla/hive-chicago-buzz/issues/39#issuecomment-283130082

Add link to Etherpad. e.g.,  https://public.etherpad-mozilla.org/p/hcb-2017-SESSION_TITLE

[2017-02-28 22:23] mmmavis opened #48 "Add favicon"

[2017-02-28 22:26] #48 closed, assigned to nobody

[2017-02-28 22:55] #47 closed, assigned to mmmavis

[2017-02-28 23:06] mmmavis commented on #47
@annmarie123 Notes links are up! URLs were generated based on session's title. Note that there's a 50 characters limit for Etherpad link slug. If a session has long title, the note link will not include the full title.

e.g., Session [`Formalizing the informal: Lessons learned from FUSE’s journey into the school day.`](http://schedule.hivechicagobuzz.org/#_session-19) This session's Etherpad link

[2017-03-01 21:45] mmmavis commented on #46
@annmarie123 Twitter handles have been added. Here's the staging URL: http://mmmavis.github.io/hive-chicago-buzz There could be copying & pasting human errors as I did see some mismatches(typos) between the 2 sheets. Please QA and let me know if anything needs to be changed. 🌞

[2017-03-01 21:50] mmmavis opened #51 "Do not commit CNAME unless it's to the production branch"
Currently when you run `npm run stage REMOTE` to any remote the CNAME file gets committed to that remote's `gh-pages` branch. We don't want this to happen unless we are pushing to the `gh-pages` of this repo (i.e., https://github.com/mozilla/hive-chicago-buzz.git )

[2017-03-08 21:16] annmarie123 commented on #39
@mmmavis Hi Mavis, I'm sorry to keep bothering you, but we have just a few changes to make to the scheduling app based on presenter needs. I've given our session speakers a deadline of 3/13 for any final changes to the schedule/their sessions so that this will be the final time I reach out for your help. Would it be alright to send you a short list of changes to the schedule on Monday?

[2017-03-08 21:35] mmmavis commented on #39
@annmarie123 no prob! Changes request by next Monday March 13 sounds good. Could you let me know what's the next step for https://github.com/mozilla/hive-chicago-buzz/issues/46 too? Thanks!

[2017-03-16 03:35] annmarie123 commented on #39
Hi @mmmavis. Sorry for getting to this so late. I lost my QA notes reviewing #46 and had to start over. Here are the changes to the schedule that need to be made at your earliest convenience.

1) For Friday, separate the Doors Open & Registration from Science Fair and put this description under Science Fair
**"Join us for our Hive Chicago Buzz Science Fair-  leading organizations and institutions

[2017-03-16 03:37] annmarie123 commented on #46
Here are my QA notes:

1) For Friday, separate the Doors Open & Registration from Science Fair and put this description under Science Fair
**"Join us for our Hive Chicago Buzz Science Fair-  leading organizations and institutions from Chicago’s education landscape will share their work including Sweetwater Foundation, NEIU’s Maker Space, Maker Mob and Make Take Teach Fair, the Lincoln Park Zoo, Ch

[2017-03-17 02:59] mmmavis commented on #39
Hey @annmarie123 , I didn't have time today. Will get to it tomorrow morning.

[2017-03-17 03:26] annmarie123 commented on #39
@mmmavis no worries, thank you!

[2017-03-17 18:03] mmmavis commented on #39
@annmarie123

which session is this? "Quality of Life In Focus: Activating Community Through Open Dialogue, Art and Technology" ?

[2017-03-17 18:04] annmarie123 commented on #39
@mmmavis yes exactly the "Quality of Life In Focus: Activating Community Through Open Dialogue, Art and Technology"

[2017-03-17 18:20] mmmavis commented on #39
@annmarie123 changes are up on staging: http://mmmavis.github.io/hive-chicago-buzz/ (might need to force refresh to see result, cmd-shift-r)

let me know if anything needs to be modified & when to push live

[2017-03-17 18:29] annmarie123 commented on #39
@mmmavis all looks good go ahead and make it live. THANK YOU!

[2017-03-17 18:36] #46 closed, assigned to mmmavis

[2017-03-17 18:39] mmmavis commented on #39
here we go: http://schedule.hivechicagobuzz.org ✨